<% breadcrumb :root %>

<h1>Gyojir's Page</h1>
<p>ようこそ！</p>

<% content_for :sidebar do %>
  <nav>
    <ul>
      <li><%= link_to 'Manga', mangas_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
<% end %>
