<% provide(:title, "Tools") %>
<% breadcrumb :link %>

<h1>Tools</h1>
<dl>
  <dt><%= link_to '4コマジェネレーター', 'https://gyojir.github.io/yonkoma_frame_generator/' %></dt>
  <dd>4コマ漫画の枠線画像を作れるよ</dd>
</dl>
