<% provide(:title, "Link") %>
<% breadcrumb :link %>

<h1>Link</h1>
<dl>
  <dt class="del"><%= link_to 'gyrff', 'https://gyrff.com/' %></dt>
  <dd>
    gyojirが満を持して世に送り出した新時代のWEBサイト。<br>
    gyrff(ジラフ)は不特定多数による論理的思考を可能にするフレームワークです。<br>
    現在サービス停止中。
  </dd>
  <dt><%= link_to 'チームシンカイラボ', 'http://team-shinkailab.ml/' %></dt>
  <dd>こういう活動もしています</dd>
</dl>
