html, body {
	height:100%;
}

.wrapper{
	min-height:100%;
	background-color: hsl(100, 10%, 80%);
}

.title{
	text-align: center;
}

.container{
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	margin: 10px;
	padding: 10px;
	min-height: 80vh;
	background-color: white;
}

.sidebar{
	margin: 10px;
	padding: 0 40px 0 20px;
}

.main{}

header{
	display: flex;
	padding: 10px;
	align-items: center;
	h1{
		margin: 0 !important;
	}
}

.footer{
	text-align: center;
	p{
		margin: 0 !important;
	}
}

nav{
	ul {
	  list-style:none;
	}

	a{
		display: block;
		padding: 0 10px;
		font-size: 22px;
	}
}

@media screen and (max-width : 768px) { /* スマホ用CSS */
	.container{
		flex-direction: column;
	}
	.sidebar{
		margin: 0 auto 0 10px;
		padding: 10px;
		order: 2;
	}

}

table.article_list {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;

	th {
		padding: 10px;
		font-weight: bold;
		vertical-align: top;
		border-bottom: 3px solid #036;
	}
	td {
		padding: 10px;
		font-weight: bold;
		vertical-align: top;
		border-bottom: 1px solid #ccc;
	}
	tr:nth-child(odd) td {
		background: #f2f2f2;
	}
}

img.thumbnail {
	width: 100px;
}

p.resizeimage{
   max-width: 480px; /* 最大幅 */
   min-width: 240px; /* 最小幅 */
	 img { width: 100%; }
}

.good-button-on{
	color: white;
	background-color: hsl(340, 100%, 80%);

	&:hover{
		color: white;
	}
}


.bad-button-on{
	color: white;
	background-color: hsl(220, 100%, 80%);

	&:hover{
		color: white;
	}
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
