table.article_list {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;

	th {
		padding: 10px;
		font-weight: bold;
		vertical-align: top;
		border-bottom: 3px solid #036;
	}
	td {
		padding: 10px;
		font-weight: bold;
		vertical-align: top;
		border-bottom: 1px solid #ccc;
	}
	tr:nth-child(odd) td {
		background: #f2f2f2;
	}
}

img.thumbnail {
	width: 200px;
}

/* パンくずリストのスタイル */
ol.breadcrumbs {
	margin: 0; /* マージン（上下左右） */
	padding: 5px; /* パディング（上下、左右） */
	list-style-type: none; /* リストマーク非表示 */
	font-size: 100%; /* 文字サイズ */


	/* リスト項目 */
	li {
		display: inline; /* 項目を横並び */

		/* リンクエリア */
		a {
			padding-right: 5px; /* 右パディング */
		}
	}
}
